# Ignore system files
.DS_Store

# Ignore user data
DataValitation-MVP.xcodeproj/project.xcworkspace/xcuserdata/
DataValidation-MVP.xcworkspace/xcuserdata/
DataValitation-MVP.xcodeproj/xcuserdata/

# Ignore build
/Build

# Fastlane
# fastlane specific
fastlane/report.xml
# deliver temporary files
fastlane/Preview.html
# snapshot generated screenshots
fastlane/screenshots
# scan temporary files
fastlane/test_output
